name: Cleanup Runs

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Delete ALL workflow runs in this repository
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.DELETE_ACTION_RUN_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 0                # Default is 30 days; must be 0 to delete ALL runs
          keep_minimum_runs: 0          # Do not keep any runs
          delete_workflow_pattern: ""
          delete_workflow_by_state_pattern: "ALL"
          delete_run_by_conclusion_pattern: "ALL"
          dry_run: false
