name: Delete All Workflow Runs

on:
  workflow_dispatch:  # 手动触发

permissions:
  actions: write
  contents: read

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.DELETE_ACTION_RUN_TOKEN }}  # ✅ 名字对应上
          keep_minimum_runs: 0
          delete_run_by_conclusion_pattern: "success,skipped,failed,cancelled"
