name: Delete All Workflow Runs

on:
  workflow_dispatch:  # trigger manuually

permissions:
  actions: write
  contents: read

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          keep_minimum_runs: 0   # delete all
          delete_run_by_conclusion_pattern: "success,skipped,failed,cancelled"
