name: Run Unit Tests

on:
  push:
    branches: [ main, master, origin ]
    paths:
      - '.github/**'
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ main, master, origin ]
    paths:
      - '.github/**'
      - 'src/**'
      - 'tests/**'


permissions:
  actions: write
  contents: read
  security-events: write


jobs:

  run_unitests:
    runs-on: ubuntu-latest
    steps:
      # -------------------------
      # 1. Checkout code
      # -------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -------------------------
      # 2. Ruff Lint
      # -------------------------
      - name: Ruff Lint
        uses: chartboost/ruff-action@v1

      #      # -------------------------
      #      # 3. CodeQL Security Scan
      #      # -------------------------
      #      - name: Initialize CodeQL
      #        uses: github/codeql-action/init@v4
      #        with:
      #          languages: python
      #
      #      - name: Perform CodeQL Analysis
      #        uses: github/codeql-action/analyze@v4

      # -------------------------
      # 4. Install dependencies
      # -------------------------
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # -------------------------
      # 5. Run Unit Tests
      # -------------------------
      - name: Run Unit Tests
        run: |
          python -m unittest discover -s tests
