name: Run Unit Tests

on:
  push:
    branches: [ main, master, origin ]
    paths:
      - '.github/**'
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ main, master, origin ]
    paths:
      - '.github/**'
      - 'src/**'
      - 'tests/**'


permissions:
  actions: read
  contents: read
  security-events: write


jobs:
  cleanup:
    name: Cleanup old workflow runs
    runs-on: ubuntu-latest
    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          keep_minimum_runs: 0        # delete all old repo
          delete_workflow_pattern: ${{ github.workflow }}
          delete_run_by_conclusion_pattern: "success,skipped,failed"

  run_unitests:
    runs-on: ubuntu-latest

    steps:
      # -------------------------
      # 1. Checkout code
      # -------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -------------------------
      # 2. Ruff Lint
      # -------------------------
      - name: Ruff Lint
        uses: chartboost/ruff-action@v1

      # -------------------------
      # 3. CodeQL Security Scan
      # -------------------------
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: python

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4

      # -------------------------
      # 4. Run Unit Tests
      # -------------------------
      - name: Run Unit Tests
        run: |
          python -m unittest discover -s tests
